In [3]:
import pandas as pd

In [4]:
df = df = pd.read_csv('ZHVI.csv')

In [6]:
df

,Unnamed: 0,Virginia,California,Florida,New Jersey,Texas,New York,Colorado,Massachusetts,Nevada,...,Idaho,North Dakota,Nebraska,Mississippi,New Mexico,Arkansas,Alaska,Louisiana,Kentucky,Maine
0,2000-01-01,117518.419734,185512.700200,104157.347300,160950.771167,107138.919907,130750.236482,170961.229061,192287.075027,155498.726714,...,116746.091699,NaN,110056.431373,73421.017258,NaN,77688.442648,126586.326753,93720.421305,84417.988733,99572.798350
1,2000-02-01,117820.673871,186137.771497,104383.304442,161385.735843,107195.822150,131216.550371,171568.686549,192929.496051,155518.160645,...,116676.287491,NaN,110232.238518,73378.457448,NaN,77792.507549,126730.856201,93903.408336,84454.753651,99903.305712
2,2000-03-01,118141.302248,186980.576021,104656.857688,161799.812314,107222.656664,131664.900838,172239.032273,193694.061281,155759.437389,...,116721.823055,NaN,110395.180944,73374.706440,NaN,77912.223158,126874.626457,94045.392897,84528.098177,100199.359997
3,2000-04-01,118747.241916,188809.323426,105212.654171,162716.784832,107360.109861,132628.676616,173737.634976,195199.735517,156312.312977,...,116815.805141,NaN,110649.714128,73424.331230,NaN,78168.672733,127043.322937,94364.693038,84714.706168,100852.244577
4,2000-05-01,119333.109655,190933.314084,105811.618877,163650.021248,107448.464416,133623.959727,175409.464239,196829.531145,157016.652403,...,117119.219620,NaN,110779.956720,73680.108850,NaN,78425.353673,127296.637830,94701.276486,84969.708630,101469.144163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,2023-03-01,362607.184338,725149.409957,384852.795000,473208.406881,299720.291457,434554.680768,533536.791745,574585.739555,414572.014495,...,433617.454802,244449.544170,247293.917971,174743.785077,285922.264486,197317.503025,344000.213436,200447.377227,200083.960553,368391.248850
279,2023-04-01,364504.027577,725727.307926,385225.056072,476033.155579,299809.671121,437685.260040,533732.691038,576867.345606,413358.891097,...,434184.883146,245404.808256,248962.878722,175444.040367,287721.312502,198488.557802,345852.674420,199904.681885,200474.100434,370829.028400
280,2023-05-01,367245.201050,728975.403924,386216.486973,479612.975901,300169.115908,441066.611762,535185.858280,580551.205397,413142.957213,...,435623.826556,246614.839807,250823.799756,176263.615798,289619.231758,199241.030246,347367.394084,199350.262547,201117.026097,374966.134401
281,2023-06-01,370055.275881,734240.565295,387983.915020,483589.260178,300869.960667,444789.172999,537786.989850,585047.768918,414268.137318,...,438084.340581,248182.466352,252646.435237,176648.261748,291423.523885,199584.135937,348913.263914,199351.413688,201668.445118,380319.513998
282,2023-07-01,372942.840228,741788.741220,390051.902045,487867.553927,301763.135702,449285.442817,540837.542436,590456.955232,416545.420323,...,440863.716429,249529.434290,254148.935980,176654.639938,293325.489981,199830.243213,350244.069853,200027.899262,201842.679282,385666.462052

In [7]:
df.dropna()

,Unnamed: 0,Virginia,California,Florida,New Jersey,Texas,New York,Colorado,Massachusetts,Nevada,...,Idaho,North Dakota,Nebraska,Mississippi,New Mexico,Arkansas,Alaska,Louisiana,Kentucky,Maine
108,2009-01-01,220951.850084,322070.356479,171955.290971,308144.514497,134161.936477,233736.957907,219694.446492,309650.623757,205445.868001,...,179628.805666,136153.098183,121672.136783,100240.048707,176299.740334,109480.243867,231719.115882,139663.624081,109149.132800,179646.650099
109,2009-02-01,219415.775804,317169.487883,168683.955972,306429.881798,133907.027311,232598.485527,219240.447993,307635.668524,200216.857448,...,177562.957668,136158.848207,121382.064954,99977.298121,175666.694880,109078.062581,231883.007942,139577.630260,109122.107921,178647.388852
110,2009-03-01,217911.067414,313109.894162,165606.430256,304775.109117,133800.340142,231590.131888,218932.628713,305575.935393,195094.299459,...,175434.112093,136121.905418,121554.874294,99757.733120,174528.985859,108651.272420,232194.142008,139551.306290,109076.955767,177619.717733
111,2009-04-01,216566.747051,309295.619706,162539.035151,302655.859687,133785.088985,230732.403226,218697.931458,303780.981234,190010.566582,...,173277.130429,135942.109148,121811.995987,99608.900685,173472.229651,108221.814770,232392.981534,139695.115286,108991.310328,176713.946716
112,2009-05-01,215438.356344,305599.699025,159570.531625,300396.029037,133786.802229,229944.618677,218405.497763,302564.885202,184099.654476,...,171224.990076,135649.856490,122183.184098,99433.386955,172474.403820,107877.292005,232076.986332,139757.813970,108831.174338,175092.946591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,2023-03-01,362607.184338,725149.409957,384852.795000,473208.406881,299720.291457,434554.680768,533536.791745,574585.739555,414572.014495,...,433617.454802,244449.544170,247293.917971,174743.785077,285922.264486,197317.503025,344000.213436,200447.377227,200083.960553,368391.248850
279,2023-04-01,364504.027577,725727.307926,385225.056072,476033.155579,299809.671121,437685.260040,533732.691038,576867.345606,413358.891097,...,434184.883146,245404.808256,248962.878722,175444.040367,287721.312502,198488.557802,345852.674420,199904.681885,200474.100434,370829.028400
280,2023-05-01,367245.201050,728975.403924,386216.486973,479612.975901,300169.115908,441066.611762,535185.858280,580551.205397,413142.957213,...,435623.826556,246614.839807,250823.799756,176263.615798,289619.231758,199241.030246,347367.394084,199350.262547,201117.026097,374966.134401
281,2023-06-01,370055.275881,734240.565295,387983.915020,483589.260178,300869.960667,444789.172999,537786.989850,585047.768918,414268.137318,...,438084.340581,248182.466352,252646.435237,176648.261748,291423.523885,199584.135937,348913.263914,199351.413688,201668.445118,380319.513998
282,2023-07-01,372942.840228,741788.741220,390051.902045,487867.553927,301763.135702,449285.442817,540837.542436,590456.955232,416545.420323,...,440863.716429,249529.434290,254148.935980,176654.639938,293325.489981,199830.243213,350244.069853,200027.899262,201842.679282,385666.462052